.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.number-val {
  display: inline-block;
  width: 20px;
  text-align: center;
}

.bi-caret-left-fill, .bi-caret-right-fill {
    display: inline-block;
    color: violet;
}

#results {
   margin-left: 30px;
   margin-right: 30px; 
}
