.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

span {
  display: inline-block;
  width: 20px;
  text-align: center;
}

.bi-caret-left-fill {
    color: violet;
}

.bi-caret-right-fill {
    color: violet;
}
